* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.firstpage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("images/bg-1.jpg");
}

.secondpage {
  background-image: linear-gradient(rgba(37, 22, 22, 0.5), rgba(0, 0, 0, 0.8)),
    url("images/bg-2.jpg");
}

.thirdpage {
  background-image: linear-gradient(rgba(37, 22, 22, 0.5), rgba(0, 0, 0, 0.8)),
    url("images/bg-3.jpg");
}
.fourthpage {
  background-image: linear-gradient(rgba(37, 22, 22, 0.5), rgba(0, 0, 0, 0.8)),
    url("images/bg-4.jpg");
}
.fifthpage {
  background-image: linear-gradient(rgba(37, 22, 22, 0.5), rgba(0, 0, 0, 0.8)),
    url("images/bg-5.jpg");
}
.content {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  color: white;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 3em;
  color: #ff0000;
}

.header h2 {
  font-size: 1.5em;
  color: #ffffff;
  margin-top: 10px;
}

.welcome {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  font-size: 1.3em;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 1px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.section {
  padding: 20px;
  background-color: transparent;
  text-align: left;
}

.section h3 {
  color: #ff0000;
  font-size: 1.5em;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.section h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; 
  transform: translateX(-50%);
  width: 100%; 
  height: 3px; 
  background-color: #ff0000; 
}

.section p {
  font-size: 1em;
  line-height: 1.6;
  color: #fff;
}

.full-width-section {
  grid-column: span 2;
  padding: 20px;
  background-color: transparent;
  text-align: left;
}

.full-width-section h3 {
  color: #ff0000;
  font-size: 2rem;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.full-width-section h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
}

.full-width-section p {
  font-size: 1em;
  line-height: 1.6;
  color: #fff;
}
.two-column-layout {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}

.text-column {
  color: #fff;
  font-size: 1em;
}

.image-column img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* heading underline */
.heading-container {
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

.full-width-heading {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.full-width-heading::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, #48ff00, #ffff00);
  width: 80%;
  transform-origin: center;
  margin: 0px auto;
}


.three-column-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-top: 60px;
  text-align: justify;
}
.three-column-layout .nowend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  align-items: end;
  margin-top: 60px;
  text-align: justify;
}

.text-column {
  color: #fff;
  font-size: 16px;
}
.text-column p {
  margin-top: -10px;
  padding-top: 0px;
  color: #fff;
  font-size: 16px;
  line-height: 9px;
}
.image-column img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto !important;
}
.text-column .right {
  margin-right: 45px;
  text-align: justify;
}
.grid-container1{
width: 100%;
}
.work_section{
  display: flex;
  width: 100%;
}
.work_section1{
  display: flex;
  width: 100%;
  margin-top: 5%;
  justify-content: space-between;
}
.work1_section,
.work2_section{
width: 49%;
}
.section1,
.section2{
  width: 39%;
}
.section1 h3,
.section2 h3,
.work1_section h3,
.work2_section h3 {
  color: #ff0000;
  font-size: 1.2em;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 75%;
}

.section1 h3,
.section2 h3
{
  width: 75%;
}

.work1_section h3
 {
 
  width: 62%;
}
.work2_section h3
 {
 
  width: 28%;
}
.section1 h3::after,
.section2 h3::after,
.work1_section h3::after,
.work2_section h3::after{
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; 
  transform: translateX(-50%);
  width: 100%; 
  height: 3px; 
  background-color: #ff0000; 
}

.section1 p,
.section2 p,
.work1_section p,
.work2_section p{
  font-size: 1.2em;

  color: #fff;
}
.work_section1{
  display: flex;
}
.work_section{
  margin-top: 40px;
}
.img_sect img{
  width: 90%;
  padding-left: 30px;
  padding-right: 20px;
  margin-top: -25px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 5%;
  }

  .header h1 {
    font-size: 200%;
  }

  .header h2 {
    font-size: 110%;
  }

  .welcome {
    font-size: 110%;
    padding: 2%;
  }

  .grid-container {
    grid-template-columns: 1fr; 
    gap: 3%;
  }

  .section h3 {
    font-size: 130%;
  }

  .full-width-section h3 {
    font-size: 150%;
  }
  
  .three-column-layout {
    grid-template-columns: 1fr;
    gap: 3%;
  }
  
  .text-column p {
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  .header img{
    width: 50%
  }
  .welcome {
    font-size: 1rem;
    padding: 14px !important;
    border-radius: 2px;
  }
}


@media screen and (max-width: 767px) {
  h3 {
    font-size: 1.2em; 
    margin-bottom: 0.8em;
  }

  p {
    font-size: 0.9em; 
    margin-top: 0.8em;
  }
  .container {
    padding: 8%;
  }

  .header h1 {
    font-size: 180%;
  }

  .header h2 {
    font-size: 100%;
  }

  .welcome {
    font-size: 100%;
    padding: 3%;
  }

  .full-width-section h3 {
    font-size: 140%;
  }

  .grid-container {
    grid-template-columns: 1fr; 
    gap: 5%;
  }

  .three-column-layout {
    grid-template-columns: 1fr;
    margin-top: 10%;
  }

  .text-column p {
    font-size: 85%;
    line-height: 150%;
  }
  
  .image-column img {
    width: 40%;
    height: auto;
  }
  .image-column .blackbike{
    width: 50%;
  }
  .text-column .right{
    margin-left: 0px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 480px) {
  #fast-fresh-heading{
    font-size: 1.7em !important;
  }
  .welcome{
    font-size: 72% !important;
  }
  .header h1 {
    font-size: 150%;
  }
  .section{
    padding: 0px;
  }
  .section-padding{
    padding: 20px !important;
  }
  .full-width-heading {
    font-size: 1.5em;
  }

  .welcome {
    font-size: 90%;
  }

  .section h3 {
    font-size: 110%;
  }

  .text-column p {
    font-size: 80%;
    line-height: 100%;
  }
}
@media screen and (max-width: 382px){
  .explore-heading{
    margin-top: -30px;
  }
  .text-column .right{
    margin-left: 0px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 352px) {
  .explore-heading h2{
    margin-top: -400px;
    font-size: 0.6rem;
  }
  .headingboth h2{
    font-size: 22px !important;
  }
  .text-column p{
    line-height: 18px !important;
    word-spacing: -1px;
  }
  .image-column img{
    width: 90%;
  }
  .image-column .blackbike{
    width: 90%;
  }
  .text-column .right{
    margin-left: 0px;
    margin-right: 12px;
  }
}
@media screen and (max-width: 360px) {
  .welcome{
    font-size: 68% !important;
  }
}
@media screen and (max-width: 600px) {
  .explore-heading h2{
    margin-left: 0px !important;
  }
  #fresh-familiar-heading{
    font-size: 1.7em !important;
    text-align: left !important;
  }
  .work_section1{
    flex-direction: column;
  }
  .work_section1 div{
    width: 100%;
  }
  .work_section1 div h3{
    width: 100%;
    text-align: left;
  }
  .work_section1 div p{
    margin: 30px 0px;
  }
  .work_section{
    flex-direction: column;
  }
  .work_section div{
    width: 100%;
  }
  .work_section div h3{
    width: 100%;
    text-align: left;
  }
  .work_section div p{
    margin: 25px 0px;
  }
  .work_section .img_sect img{
    width: 45%;
    padding-top: 5px;
  margin-top: 0px;

  }
}


@media screen and (max-width: 1020px) {
  #join-adventure-heading{
    margin-bottom: 0px !important;
  }
  #join-adventure-heading p{
    margin-left: -20px!important
  }
  .two-column-layout-two{
    grid-template-columns: 1fr !important;
  }
  .three-column-layout-one .text-column p{
    margin-top: 40px;
  }
  .three-column-layout-two{
    grid-template-columns: 1fr !important;
  }
  .three-column-layout-two .text-column .right{
    margin-right: 0px !important;
  }
  #fast-fresh-heading{
    margin-bottom: 20px !important;
    margin-top: 0px !important;
  }
  .fast-fresh-section{
    padding-top: 60px;
  }
  .two-column-layout-one{
    grid-template-columns: 1fr;
  }
}